.footer {
    background: $blue;
    width: 100%;

    &__navigation {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 34px;
        padding-bottom: 34px;
    }

    &__scroll-to-top {
        position: absolute;
        height: 35px;
        width: 35px;
        top: 20px;
        right: 20px;
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;

        &:before {
            display: inline-block;
            content: "";
            border: solid #1E88E5;
            margin-top: 5px;
            border-width: 0 3px 3px 0;
            transform: rotate(-135deg);
            padding: 5px;
        }
    }

    &__item {
        text-align: center;
        padding-bottom: 8px;
    }

    &__link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;

        text-transform: capitalize;
        text-decoration: none;
        color: $white;

        @include break-lg {
            font-size: 24px;
        }
    }
}