.login {
    padding-bottom: 40px;
    min-height: 80vh;

    &__input {
        width: 100%;
        height: 60px;
        padding-left: 15px;
        margin-bottom: 8px;
        border-radius: 4px;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        border: 1px solid rgba(112, 112, 112, 0.3);
    }

    &__cadastrar-btn,
    &__submit {
        width: 100%;
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        text-align: center;
        background: $blue;
        padding: 16px 0;
        border: 0;
        margin-top: 15px;
        color: $white;
        font-weight: bold;
        border-radius: 4px;
        text-transform: capitalize;
    }

    &__cadastrar {
        padding-top: 40px;
    }

    &__cadastrar-info {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        text-align: center;
        color: $blue;
    }

    &__cadastrar-btn {
        background: $orange;
        color: $white;
        display: inline-block;
        text-transform: initial;
        text-decoration: none;
    }
}